{% extends "base.twig" %}
{% block body %}
    <table width='100%'>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>x</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.id }} </td>
                <td>{{ product.name }} </td>
                <td>{{ product.price }} </td>
                <td><a href='/products/delete?id={{ product.id }}'>delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}